/*清除样式*/
*{margin:0;padding:0}

li{list-style:none}

img{vertical-align:top;border:none}

.clear{clear: both;}
/*背景*/
.outsideBg{
    background:#ffe6c9 url("../images/annualMeeting.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*头部列表*/
.topList{
    background: #ffffff;
    opacity: 0.95;
}
.topList img{
    vertical-align:middle;
}
.topCenter{
    width: 85%;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
}
.topCenter .topLeftList{
    margin-left: 100px;
}
.topCenter .topLeftList>li{
    float: left;
    margin-right: 8%;
}
.topCenter .topLeftList>li:last-child{
    margin-right: 0;
}
.topCenter .topRightList>li{
    float: right;
    margin-left: 2%;
}
.topListSm{
    display: none;
}
.topListSm li{
    text-align: center;
}
/*标题*/
.indexTitle{
    width: 50%;
    height: 120px;
    line-height: 120px;
    color: #ffe6c9;
    font-size: 50px;
    margin: 2.5% auto;
    font-weight: normal;
    text-align: center;
    background: url("../images/annualMeetingTitle.png") no-repeat;
    background-size:100% 100%;

}
/*展示内容*/
.midBody{
    width: 1190px;
    margin: 0 auto;
    position: relative;
    height: 641px;
}
.midColBox{
    width: 100%;
    position: relative;
    height: 100%;
}
.midBody .midColBox li{
    width: 290px;
    position: absolute;
    cursor: pointer;
}
.midBody .midColBox li:nth-child(1){
    left: 0;
}
.midBody .midColBox li:nth-child(2){
    left: 300px;
}
.midBody .midColBox li:nth-child(3){
    left: 600px;
}
.midBody .midColBox li:nth-child(4){
    left: 900px;
}
.midBody .midColBox li>div{
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.midBody .midColBox li img{
    width: 100%;
}
.midBody .midColBox li .colShadow{
    background: black;
    opacity: 0.7;
}
.midBody .midColBox li .colHoverText,.midBody .midColBox li .colShadow{
    border-radius: 5px;
    position: absolute;
    top: -100%;
    bottom: 100%;
    width: 100%;
    cursor: pointer;
    transition:all .5s linear;
    -moz-transition:all .5s linear; /* Firefox 4 */
    -webkit-transition:all .5s linear; /* Safari and Chrome */
    -o-transition:all .5s linear; /* Opera */
}
.midBody .midColBox li:hover .colShadow,.midBody .midColBox li:hover .colHoverText{
    top: 0;
    bottom: 0;
}
.midBody .midColBox li .colHoverText p{
    margin-top: 200px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.midProductList{
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    display: none;
}
.midProductList>li{
    position: relative;
    width: 819px;
    height: 200px;
    background: url("../images/amProductBg.png")no-repeat;
}
.midProductList>li:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.34) ;
}
.midProductList>li .midProLeft,.midProductList>li .midProRight{
    height: 100%;
    padding:30px  0 30px 40px;
    box-sizing: border-box;
}
.midProductList>li .midProLeft{
    float: left;
    width: 30%;
}
.midProductList>li .midProLeft img{
    width: 100%;
    height: 100%;
    border: 1px solid #b8291a;
}
.midProductList>li .midProRight{
    width: 50%;
    left: 40%;
    overflow: hidden;
}
.midProRight h3{
    color: #b8291a;
    font-size: 16px;
    font-weight: normal;
    overflow : hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}
.midProRight p{
    font-size: 14px;
    margin-top: 20px;
}
.midProRight p span,.midProRight p label{
    display: inline-block;
    padding-left: 26px;
    height: 26px;
    line-height: 26px;
}
.midProRight p span{
    background: url("../images/amCoordinates.png") no-repeat;
}
.midProRight p label{
    background: url("../images/amTime.png") no-repeat;
    margin-left: 20%;
}
.midProRight h4{
    color: #b8291a;
    font-size: 16px;
    margin-top: 20px;
}
.midProRight h4 label{
    color: #000;
    font-size: 14px;
}
.midProRight h4 button{
    margin-left: 20%;
    border:none;
    background: url("../images/amButton.png")no-repeat;
    width: 90px;
    height: 25px;
    color: #fef9e3;
}
.btnStyle{
    padding:5px 8px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}
.closeBtn{
    position: absolute;
    top: -32px;
    right: 0;
    border: 1px solid #f9dabf;
    color:#f9dabf;
}
.moreBtn{
    float: right;
    margin-top: 20px;
    border: 1px solid #a32d2d;
    color:#a32d2d;
}

@media screen and (max-width:1070px){
    .topCenter{
        height: auto;
        width: 100%;
    }
    .midBody li .colHoverText,.midBody li .colShadow{
        display: none;
    }
    .midBody li:hover .colShadow,.midBody li:hover .colHoverText{
        display: block;
    }
}
@media screen and (max-width:863px){
    .topList{
       display: none;
    }
    .topListSm{
        display: block;
    }
}