/*清除样式*/
*{margin:0;padding:0}

li{list-style:none}

img{vertical-align:top;border:none}

.clear{clear: both;}
/*背景*/
.outsideBg{
    background:#ffe6c9 url("../images/annualMeeting.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*头部列表*/
.topList{
    background: #ffffff;
    opacity: 0.8;
}
.topList img{
    vertical-align:middle;
}
.topCenter{
    width: 85%;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
}
.topCenter .topLeftList{
    margin-left: 100px;
}
.topCenter .topLeftList>li{
    float: left;
    margin-right: 8%;
}
.topCenter .topLeftList>li:last-child{
    margin-right: 0;
}
.topCenter .topRightList>li{
    float: right;
    margin-left: 2%;
}
.topListSm{
    display: none;
}
.topListSm li{
    text-align: center;
}
/*标题*/
.indexTitle{
    width: 50%;
    height: 120px;
    line-height: 120px;
    color: #ffe6c9;
    font-size: 50px;
    margin: 4% auto;
    font-weight: normal;
    text-align: center;
    background: url("../images/annualMeetingTitle.png") no-repeat;
    background-size:100% 100%;

}
/*展示内容*/
.midBody{
    width: 60%;
    margin: 0 auto;
    position: relative;
}
.midColBox{
    width: 100%;
    position: relative;
}
.midBody .midColBox li{
    width: 23%;
    position: absolute;
}
.midBody .midColBox li:nth-child(1){
    left: 0;
}
.midBody .midColBox li:nth-child(2){
    left: 25%;
}
.midBody .midColBox li:nth-child(3){
    left: 50%;
}
.midBody .midColBox li:nth-child(4){
    left: 75%;
}
.midBody .midColBox li>div{
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.midBody .midColBox li img{
    width: 100%;
}
.midBody .midColBox li .colShadow{
    background: black;
    opacity: 0.5;
}
.midBody .midColBox li .colHoverText,.midBody .midColBox li .colShadow{
    border-radius: 5px;
    position: absolute;
    top: -100%;
    bottom: 100%;
    width: 100%;
    cursor: pointer;
    transition:all .5s linear;
    -moz-transition:all .5s linear; /* Firefox 4 */
    -webkit-transition:all .5s linear; /* Safari and Chrome */
    -o-transition:all .5s linear; /* Opera */
}
.midBody .midColBox li:hover .colShadow,.midBody .midColBox li:hover .colHoverText{
    top: 0;
    bottom: 0;
}
.midBody .midColBox li .colHoverText p{
    margin-top: 50%;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.midProductList{
    position: absolute;
    right: 0;
    width: 70%;
}
.midProductList>li{
    position: relative;
}
.midProductList>li>img{
    width: 100%;
}
.midProductList>li .midProLeft,.midProductList>li .midProRight{
    position: absolute;
    top: 10%;
    bottom: 10%;
}
.midProductList>li .midProLeft{
    left: 5%;
    width: 30%;
}
.midProductList>li .midProLeft img{
    width: 100%;
    height: 100%;
}
.midProductList>li .midProRight{
    width: 60%;
    left: 40%;
}

@media screen and (max-width:1070px){
    .topCenter{
        height: auto;
        width: 100%;
    }
    .midBody li .colHoverText,.midBody li .colShadow{
        display: none;
    }
    .midBody li:hover .colShadow,.midBody li:hover .colHoverText{
        display: block;
    }
}
@media screen and (max-width:863px){
    .topList{
       display: none;
    }
    .topListSm{
        display: block;
    }
}